/* style.css */

/* Style for the header */
.header {
  background-color: rgb(46, 46, 46);
  text-align: center;
  font-family: Cursive;
  width: 100%; /* Adjust the width as needed */
  
  border-radius:30px;
  Color: white ;
  margin-top: 20px;
  margin-bottom: 20px;
}

.buttons-text{
  align-items:right;
  text-align: right;
  font-family: Cursive;
  display: flex;

}


/* Style for the background image */
.background-image {
  background-image: url("djangoProject/media/background/back1.jpg");
  background-size: cover; 
  background-position: center;
  border-radius: 30px;
  height: 300px;
  opacity: 0.93;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Style for the product list */
.product-list {
  background-color: rgb(11, 11, 10);
  background-image: url("djangoProject/media/background/back2.jpg");
  
  background-size: cover;
  border-radius: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  height: 800px; /* Adjust the height as per your needs */
  overflow: auto; /* Enable scrolling */
  
}

/* Style for each product */
.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(25% - 20px); /* Adjust the width as needed */
  border: 3px solid #ccc;
  border-radius: 30px;
  padding: 10px;
  margin: 10px;
  margin-top: 30px;
  margin-left: 30px;
  margin-bottom: 30px;
  position:relative;
  text-align: center;
  color:bisque;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  min-height: 300px;
  background-color:black;
  opacity: 0.9;
  transition: transform 0.7s;
  }

.product:hover {
  transform: scale(1.03);
}



.product-content {
  
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align content to the top */
  align-items: center; /* Center content horizontally */
  margin-top: 10px; /* Add margin to separate description from image */
}


.product-image {
  max-width: 50%;
  max-height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  min-height: 250px;
  min-width: 250px;
  border-radius:10px;
}

/* Style for the "Buy" button */
.buy-button {
  background-color: #4CAF50;
  color: white;
  padding: 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
}
.buy-button:hover {
  background-color: #45a049;
  transform: scale(0.9);
  margin-left: 0px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
}


/* .registration-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  border: 3px solid #ccc;
  border-radius: 30px;
  background-color: rgb(67, 70, 65);
  text-align: center;
  width: 800px;
  height: 400px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.registration-container label {
  display: block;
  margin-top: 10px;
  text-align: center;
}

.registration-container input,
.registration-container textarea {
  width: 80%;
  padding: 5px;
  border: 3px solid white;
  border-radius: 5px;
  text-align: center;
}

.registration-container button {
  margin-top: auto;
  margin-bottom: 10px;
  padding: 5px 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  left: 45%;
} */

.show {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  border: 3px solid #ccc;
  border-radius: 30px;
  background-color: rgb(23, 11, 11);
  text-align: center;
  width: 300px;
  height: 300px;
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999
    }


.about-us {
  background: fixed;
  background-image: url("djangoProject/media/background/footer.jpg");
  opacity: 0.8; /* Replace with the path to your image */
  background-size: cover;
  background-position: center;
  text-align: center;

  margin-top: 15px;
  padding: 10px;
  border: 3px solid #ccc;
  border-radius: 30px;
  color:azure;
  font-size: 20px;
  font-family: Luminari, fantasy;
  display: flex;
  flex-direction: column;
  align-items: center
 
}

.registration-button {
  position: absolute;
  top: 25px;
  right: 20px;
  z-index: 9999;
}

.authorization-button {
  position: absolute;
  top: 25px;
  right: 20px;
  z-index: 9999;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-field label {
  text-align: center;
}

.form-field input {
  text-align: center;
}

.reg-container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  border: 3px solid #ccc;
  border-radius: 30px;
  background-color: rgb(23, 11, 11);
  text-align: center;
  width: 300px;
  height: 300px;
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999
}


.registration-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  border: 3px solid #ccc;
  border-radius: 30px;
  background-color: rgb(67, 70, 65);
  text-align: center;
  width: 800px;
  height: 400px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.registration-container label {
  display: block;
  margin-top: 10px;
  text-align:center;
}
.registration-container input,
.registration-container textarea {
  width: 80%;
  padding: 5px;
  border: 3px white;
  border-radius: 5px;
  text-align:center;
}
.registration-container button {
  margin-top: auto;
  margin-bottom: 10px;
  padding: 5px 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  left:45%;

}

.overlay {
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
 z-index: 1;
 display: none;
 justify-content: center;
 align-items: center;
  }

.registration-button {
  position: absolute;
  top: 25px;
  right: 130px;
  z-index: 9999;
}

.user-cart {
  position: absolute;
  top: 80px; /* Adjust the top position as per your design */
  right: 20px; /* Adjust the right position as per your design */
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  max-width: 200px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.user-cart h3 {
  margin-top: 0;
  font-size: 18px;
  color: #333;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}

.user-cart p {
  margin: 5px 0;
  font-size: 14px;
  color: #666;
}

.login-form{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  border: 3px solid #ccc;
  border-radius: 30px;
  background-color: rgb(23, 11, 11);
  text-align: center;
  width: 400px;
  height: 400px;
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999
}

.about-us-login{
  background: fixed;
  background-image: url("djangoProject/media/background/footer.jpg");
  opacity: 0.8; /* Replace with the path to your image */
  background-size: cover;
  background-position: center;
  text-align: center;
  margin-top: 15px;
  padding: 10px;
  border: 3px solid #ccc;
  border-radius: 30px;
  color:azure;
  font-size: 20px;
  font-family: Luminari, fantasy;
  bottom:20px;
  position: absolute;
  width: -moz-available
}


.blackout-login-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Adjust the opacity as needed */
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Add this CSS to your existing styles.css or create a new CSS file and include it in the template */
.saved-cart {
  position: fixed;
  top: 355px;
  right: 10px;
  background-color: #655a5a;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: inherit;
  border: 3px;
  border-radius:3px;
  -webkit-text-fill-color: #ccc;
}

.saved-cart h3 {
  margin-top: 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.saved-cart-items {
  position: fixed;
  top: 410px;
  right: 15px;
  background-color: #4a4848;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 3px;
  border-radius: 5px;
  -webkit-text-fill-color: #ccc;
}

.delete-cart-button{
  -webkit-text-fill-color: #333;


}

.show-cart-button{
  -webkit-text-fill-color: #333;
}
