<!DOCTYPE html>
<html>
<head>
    <title>Сброс пароля</title>
    {% load static %}
    {% block css_additional %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    {% endblock %}
</head>
<body>
    <div class="header">
        <h1>Jevelry World</h1>
    </div>

    <div class="login-form">
        <h2>Сброс пароля</h2>
        <form id="reset-form" method="post" action="{% url 'form_submit' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="form-field">
                <label for="email">Введите email:</label>
                <input type="text" id="email" name="email" required>
            </div>
            <button type="submit">Сбросить пароль</button>
        </form>
    </div>

    <script src="{% static 'script.js' %}"></script>
    <script>
        document.getElementById('reset-form').addEventListener('submit', function(event) {
            if (!validateEmail(document.getElementById('email').value)) {
                event.preventDefault();
                alert('Пожалуйста, введите корректный email.');
            }
        });

        function validateEmail(email) {
            const regex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
            return regex.test(email);
        }
    </script>
</body>
</html>
