
<!-- user.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    {% load static %}
    {% block css_additional %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    {% endblock %}
</head>
<body>
    <div class="header">
        <h1>Добро пожаловать, {{ user.username }} !</h1>
        <a href="{% url 'logout' %}">Выйти</a>
    </div>
    <form method="post">
        {% csrf_token %}
        <div class="product-list">
            {% for product in products %}
            <div class="product">
                <h3>{{ product.name }}</h3>
                <img src="{{ product.image.url }}" alt="{{ product.name }}" class="product-image">
                <div class="product-content">    
                    <p>{{ product.description }}</p>
                    <p>Цена: {{ product.price }} руб</p>
                    <!-- Pass the product name to the buyProduct function -->
                    <button class="buy-button" onclick="buyProduct('{{ product.id }}', '{{ product.name }}', event)">Купить</button>
                </div>
            </div>
            {% endfor %}
        </div>
    </form>

    <div class="user-cart">
        <h3>Корзина пользователя</h3>
        {% for item in request.user.selectedproduct_set.all %}
        <div data-product-id="{{ item.product.id }}" class="cart-item">
            <p>{{ item.product.name }} - <span class="product-quantity">{{ item.quantity }}</span></p>
            <!-- Add a delete button for each product -->
            <button class="delete-button" onclick="deleteProduct('{{ item.product.name }}', event)">Удалить</button>
            <!-- Add a quantity input field -->
            <input type="number" min="1" value="{{ item.quantity }}" class="product-quantity-input" data-product-id="{{ item.product.id }}">
        </div>
        {% endfor %}
        <button class="buy-in-cart-button" onclick="saveCart()">Сохранить корзину</button>
    </div> 

    <div class="saved-cart">
        <h3>Сохраненные корзины</h3>
        <div class="saved-cart-items">
            {% for buyer in saved_carts %}
            <div class="saved-cart-item">
                <h4>{{ user.username }}</h4>
                <ul>
                    {% for selected_product in buyer.selectedproduct_set.all %}
                    <li>{{ selected_product.product.name }} - {{ selected_product.quantity }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="about-us">
        <h2>О нас</h2>
        <p>Мы - самый лучший ювелирный магазин!</p>
        <p>Покупайте наши украшения. После оформления покупки с Вами свяжется специалист.</p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="{% static 'buy_product.js' %}"></script>
    <script src="{% static 'save_cart.js' %}"></script>
    <script src="{% static 'script.js' %}"></script>
</body>
</html>